<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="utils.Report"></listener>
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="tests.JsDelay" />
			<class name="tests.FormFields" />
			<class name="tests.Popups" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
